
# –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∞—è —Ä–∞–±–æ—Ç–∞ 3. –†–∞–±–æ—Ç–∞ —Å API. –¢–µ—Å—Ç–æ–≤—ã–µ –Ω–∞–±–æ—Ä—ã –¥–∞–Ω–Ω—ã—Ö Kaggle API
–ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∞—è —Ä–∞–±–æ—Ç–∞ 3. –†–∞–±–æ—Ç–∞ —Å API. –¢–µ—Å—Ç–æ–≤—ã–µ –Ω–∞–±–æ—Ä—ã –¥–∞–Ω–Ω—ã—Ö Kaggle API

**–ó–∞–¥–∞–Ω–∏–µ**

3.1. –°–ø—Ä–æ–µ–∫—Ç–∏—Ä–æ–≤–∞—Ç—å –≤–µ—Ä—Ö–Ω–µ—É—Ä–æ–≤–Ω–µ–≤—É—é –∞—Ä—Ö–∏—Ç–µ–∫—Ç—É—Ä—É –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–æ–≥–æ —Ä–µ—à–µ–Ω–∏—è –≤ `draw.io`. –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å:

- Source Layer - —Å–ª–æ–π –∏—Å—Ç–æ—á–Ω–∏–∫–æ–≤ –¥–∞–Ω–Ω—ã—Ö.
- Storage Layer - —Å–ª–æ–π —Ö—Ä–∞–Ω–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö.
- Business Layer - —Å–ª–æ–π –¥–ª—è –¥–æ—Å—Ç—É–ø–∞ –∫ –¥–∞–Ω–Ω—ã–º –±–∏–∑–Ω–µ—Å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π.

3.2. –ü–æ–ª—É—á–∏—Ç—å –∫–ª—é—á Kaggle API.

3.3. –ù–∞—Å—Ç—Ä–æ–∏—Ç—å —Å—Ä–µ–¥—É.

3.4. –ü—Ä–æ–≤–µ—Å—Ç–∏ –ø–æ–∏—Å–∫ –Ω–∞–±–æ—Ä–æ–≤ –¥–∞–Ω–Ω—ã—Ö –≤ Kaggle –ø–æ –∫–ª—é—á–µ–≤–æ–º—É —Å–ª–æ–≤—É. –í—ã–ø–æ–ª–Ω–∏—Ç—å –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –¥–∞—Ç–∞—Å–µ—Ç–∞ Kuggle, –æ–±–Ω–æ–≤–ª–µ–Ω–Ω—ã–π –≤ `2023-2024` –≥–æ–¥–∞—Ö.

3.5. –ü—Ä–æ–≤–µ—Å—Ç–∏ –∞–Ω–∞–ª–∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ –Ω–∞ –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è. –û—á–∏—Å—Ç–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –æ—Ç –Ω—É–ª–µ–≤—ã—Ö –∏ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π. –í—ã–±—Ä–∞—Ç—å —Ç–æ–ª—å–∫–æ —Ç–µ –¥–∞–Ω–Ω—ã–µ, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –≤ –¥–∞–ª—å–Ω–µ–π—â–µ–º –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å(—á–∏—Å–ª–æ–≤—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏, –±–∏–Ω–∞—Ä–Ω—ã–µ –∏ —Ç.–¥.).

3.6. –ü–æ–ª—É—á–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç. –í—ã–≥—Ä—É–∑–∏—Ç—å –µ–≥–æ –≤ —Ñ–æ—Ä–º–∞—Ç–µ `clear.csv`.

3.7. –†–µ–∞–ª–∏–∑–æ–≤–∞—Ç—å –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—é –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –º–µ—Ç—Ä–∏–∫ –≤ –æ—Ç–µ—á–µ—Å—Ç–≤–µ–Ω–Ω–æ–π BI-—Å–∏—Å—Ç–µ–º–µ –∏–ª–∏ –≤ –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏—Ö –ø–∞–Ω–µ–ª—è—Ö —Å –æ—Ç–∫—Ä—ã—Ç—ã–º –∏—Å—Ö–æ–¥–Ω—ã–º –∫–æ–¥–æ–º, –Ω–∞–ø—Ä–∏–º–µ—Ä `Apache Superset`.

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–æ–π —Ä–∞–±–æ—Ç—ã –ø—Ä–µ–¥—Å—Ç–∞–≤–∏—Ç—å –≤ –≤–∏–¥–µ —Ñ–∞–π–ª–∞ `–§–ò–û.ipynb`, `clear.csv`.

–î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –ø–æ —Ä–∞–±–æ—Ç–µ —Å [Kaggle API](https://github.com/Kaggle/kaggle-api)

1. **–°–æ–∑–¥–∞–π—Ç–µ –∫–ª—é—á `API` –≤ `Kaggle`**.

–ú–æ—è —É—á–µ—Ç–Ω–∞—è –∑–∞–ø–∏—Å—å -> Settings-> API -> –°–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–µ —Ç–æ–∫–µ–Ω—ã API.

–ù–∞ –≤–∞—à –∫–æ–º–ø—å—é—Ç–µ—Ä –±—É–¥–µ—Ç –∑–∞–≥—Ä—É–∂–µ–Ω —Ñ–∞–π–ª `kaggle.json`. –í—ã –º–æ–∂–µ—Ç–µ –∑–∞–≥—Ä—É–∑–∏—Ç—å –Ω–∞ `Google` –î–∏—Å–∫ –≤—Ä—É—á–Ω—É—é –∏–ª–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ –ø—Ä–∏–≤–µ–¥–µ–Ω–Ω—ã–π –Ω–∏–∂–µ —Å–∫—Ä–∏–ø—Ç.

–ï—Å–ª–∏ –≤—ã —Ö–æ—Ç–∏—Ç–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Å–∫—Ä–∏–ø—Ç –¥–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ —Ñ–∞–π–ª–∞ `kaggle.json`, –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Å–ª–µ–¥—É—é—â–∏–π —Ñ—Ä–∞–≥–º–µ–Ω—Ç –≤ —è—á–µ–π–∫–µ –∫–æ–¥–∞:

In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"nastya2002","key":"7c7426c1e6828f91357dca59b0084d6f"}'}

–£—Å—Ç–∞–Ω–æ–≤–∏—Ç–µ `Kaggle API`, –∏—Å–ø–æ–ª—å–∑—É—è

In [2]:
!pip install -q kaggle

–ü–µ—Ä–µ–º–µ—Å—Ç–∏—Ç–µ —Ñ–∞–π–ª `kaggle.json` –≤ **~/.kaggle**, –≥–¥–µ –∫–ª–∏–µ–Ω—Ç `API` –æ–∂–∏–¥–∞–µ—Ç —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∏—è –≤–∞—à–µ–≥–æ —Ç–æ–∫–µ–Ω–∞:

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

–ü—Ä–µ–¥–æ—Å—Ç–∞–≤—å—Ç–µ —Ä–∞–∑—Ä–µ—à–µ–Ω–∏—è –Ω–∞ –∏–∑–º–µ–Ω–µ–Ω–∏–µ, —á—Ç–æ–±—ã –∏–∑–±–µ–∂–∞—Ç—å –ø—Ä–µ–¥—É–ø—Ä–µ–∂–¥–µ–Ω–∏—è –ø—Ä–∏ –∑–∞–ø—É—Å–∫–µ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞ `Kaggle`.

In [4]:
!chmod 600 ~/.kaggle/kaggle.json

–¢–µ–ø–µ—Ä—å –º–æ–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å –¥–æ—Å—Ç—É–ø –∫ –Ω–∞–±–æ—Ä–∞–º –¥–∞–Ω–Ω—ã—Ö —Å –ø–æ–º–æ—â—å—é –∫–ª–∏–µ–Ω—Ç–∞

In [5]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.7 / client 1.5.16)
ref                                                           title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
syedanwarafridi/vehicle-sales-data                            Vehicle Sales Data                                  19MB  2024-02-21 20:16:17          13454        249  1.0
sudarshan24byte/online-food-dataset                           Online Food Dataset                                  3KB  2024-03-02 18:50:30           3152         50  0.9411765
arnavvvvv/spotify-music                                       Top Spotify Songs                                   47KB  2024-03-06 05:20:29           3490         56  1.0
tarunrm09/climate-change-indicators                           Climate change Indicators                           34KB  2024-02-22 08:53:54           7015        146  1.0
bhavikjikadara/student-study-performance                      Student Study Performance                            9KB  2024-03-07 06:14:09           2468         50  1.0
arnavvvvv/animated-tv-shows-with-imdb-and-google-user-rating  Animated Movies and TV Shows                        50KB  2024-03-09 18:33:05            900         33  1.0
kanchana1990/spotify-datapopular-hip-hop-artists-and-tracks   Spotify Data:Popular Hip-Hop  Artists and Tracksüé∂   16KB  2024-03-08 09:33:34           1358         44  1.0
mexwell/busiest-airports-of-europe                            üõÉ Busiest Airports of Europe                        24KB  2024-03-06 13:17:11            994         22  1.0
nbroad/gemma-rewrite-nbroad                                   gemma-rewrite-nbroad                                 8MB  2024-03-03 04:52:39            647         62  1.0
arnavvvvv/netflix-movies-and-tv-shows                         Netflix Movies and TV Shows                          1MB  2024-03-04 15:49:29           2865         53  1.0
michellevp/mental-health-dataset-bipolar                      Mental Health Dataset (Bipolar)                      1MB  2024-03-08 15:37:16            566         21  1.0
arnavvvvv/pokemon-pokedex                                     Pokemon Pokedex with Stats                          21KB  2024-03-10 11:57:55            641         31  1.0
sumanthnimmagadda/student-spending-dataset                    Student spending habits dataset.                    29KB  2024-03-05 15:01:06           2062         33  0.9411765
michellevp/samsung-electronics-stock-price-2000-2024          Samsung Electronics Stock Price (2000 - 2024)      112KB  2024-02-29 13:46:34           1104         26  1.0
l3llff/banana                                                 üçå | Banana Quality                                 271KB  2024-03-03 12:20:13           2453         44  1.0
simaanjali/emotion-analysis-based-on-text                     emotion analysis based on text                      32MB  2024-03-05 04:12:15            684         32  1.0
aspillai/tesla-stock-price-with-indicators-10-years           Tesla Stock Price With Indicators (10 Years)       329KB  2024-03-12 05:50:33            640         24  1.0
mikhail1681/walmart-sales                                     Walmart Sales                                      122KB  2024-02-13 17:35:56           7821        105  1.0
mohamedfahim003/world-population-data-insights-and-trends     üåç World Population Data: Insights and Trends üìä       8KB  2024-02-26 06:23:49           1027         36  1.0
ayushparwal2026/shopping-dataset                              Shopping dataset                                     2KB  2024-03-05 05:43:59           1351         27  1.0

In [6]:
import kaggle

# List of all datasets available on Kaggle
kaggle.api.dataset_list()

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.7 / client 1.5.16)

[syedanwarafridi/vehicle-sales-data,
 sudarshan24byte/online-food-dataset,
 arnavvvvv/spotify-music,
 tarunrm09/climate-change-indicators,
 bhavikjikadara/student-study-performance,
 arnavvvvv/animated-tv-shows-with-imdb-and-google-user-rating,
 kanchana1990/spotify-datapopular-hip-hop-artists-and-tracks,
 mexwell/busiest-airports-of-europe,
 nbroad/gemma-rewrite-nbroad,
 arnavvvvv/netflix-movies-and-tv-shows,
 michellevp/mental-health-dataset-bipolar,
 arnavvvvv/pokemon-pokedex,
 sumanthnimmagadda/student-spending-dataset,
 michellevp/samsung-electronics-stock-price-2000-2024,
 l3llff/banana,
 simaanjali/emotion-analysis-based-on-text,
 aspillai/tesla-stock-price-with-indicators-10-years,
 mikhail1681/walmart-sales,
 mohamedfahim003/world-population-data-insights-and-trends,
 ayushparwal2026/shopping-dataset]

In [7]:
# –ø–æ–∏—Å–∫ –Ω–∞–±–æ—Ä–æ–≤ –¥–∞–Ω–Ω—ã—Ö –≤ Kaggle –æ ""–∫–ª—é—á–µ–≤–æ–µ —Å–ª–æ–≤–æ"""
datasets = kaggle.api.datasets_list(search="economy")

print(datasets)

[{'subtitleNullable': 'World finance indicators data from 1970-2021', 'creatorNameNullable': 'Prasad Patil', 'creatorUrlNullable': 'prasad22', 'totalBytesNullable': 1135207, 'urlNullable': 'https://www.kaggle.com/datasets/prasad22/global-economy-indicators', 'licenseNameNullable': 'CC0: Public Domain', 'descriptionNullable': None, 'ownerNameNullable': 'Prasad Patil', 'ownerRefNullable': 'prasad22', 'titleNullable': 'Global Economy Indicators', 'currentVersionNumberNullable': 4, 'usabilityRatingNullable': 1.0, 'id': 3833403, 'ref': 'prasad22/global-economy-indicators', 'subtitle': 'World finance indicators data from 1970-2021', 'hasSubtitle': True, 'creatorName': 'Prasad Patil', 'hasCreatorName': True, 'creatorUrl': 'prasad22', 'hasCreatorUrl': True, 'totalBytes': 1135207, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/prasad22/global-economy-indicators', 'hasUrl': True, 'lastUpdated': '2023-10-09T02:47:04.413Z', 'downloadCount': 2024, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'CC0: Public Domain', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Prasad Patil', 'hasOwnerName': True, 'ownerRef': 'prasad22', 'hasOwnerRef': True, 'kernelCount': 7, 'title': 'Global Economy Indicators', 'hasTitle': True, 'topicCount': 0, 'viewCount': 9787, 'voteCount': 43, 'currentVersionNumber': 4, 'hasCurrentVersionNumber': True, 'usabilityRating': 1.0, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'business', 'descriptionNullable': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'fullPathNullable': 'subject > people and society > business', 'ref': 'business', 'name': 'business', 'hasName': True, 'description': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'hasDescription': True, 'fullPath': 'subject > people and society > business', 'hasFullPath': True, 'competitionCount': 24, 'datasetCount': 64041, 'scriptCount': 25252, 'totalCount': 89317}, {'nameNullable': 'economics', 'descriptionNullable': 'The economics tag contains resources for analyzing the production, consumption, and transfer of wealth.', 'fullPathNullable': 'subject > people and society > social science > economics', 'ref': 'economics', 'name': 'economics', 'hasName': True, 'description': 'The economics tag contains resources for analyzing the production, consumption, and transfer of wealth.', 'hasDescription': True, 'fullPath': 'subject > people and society > social science > economics', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 2992, 'scriptCount': 673, 'totalCount': 3665}, {'nameNullable': 'exploratory data analysis', 'descriptionNullable': None, 'fullPathNullable': 'technique > exploratory data analysis', 'ref': 'exploratory data analysis', 'name': 'exploratory data analysis', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'technique > exploratory data analysis', 'hasFullPath': True, 'competitionCount': 3, 'datasetCount': 3759, 'scriptCount': 29592, 'totalCount': 33354}, {'nameNullable': 'data cleaning', 'descriptionNullable': None, 'fullPathNullable': 'analysis > data cleaning', 'ref': 'data cleaning', 'name': 'data cleaning', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'analysis > data cleaning', 'hasFullPath': True, 'competitionCount': 14, 'datasetCount': 2770, 'scriptCount': 12276, 'totalCount': 15060}, {'nameNullable': 'time series analysis', 'descriptionNullable': None, 'fullPathNullable': 'technique > time series analysis', 'ref': 'time series analysis', 'name': 'time series analysis', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'technique > time series analysis', 'hasFullPath': True, 'competitionCount': 113, 'datasetCount': 2132, 'scriptCount': 3276, 'totalCount': 5521}, {'nameNullable': 'regression', 'descriptionNullable': None, 'fullPathNullable': 'task > regression', 'ref': 'regression', 'name': 'regression', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'task > regression', 'hasFullPath': True, 'competitionCount': 381, 'datasetCount': 1428, 'scriptCount': 5984, 'totalCount': 7793}], 'files': [], 'versions': []}, {'subtitleNullable': 'Emphasis on Poverty Alleviation and Economic Growth', 'creatorNameNullable': 'Shashwat Tiwari', 'creatorUrlNullable': 'shashwatwork', 'totalBytesNullable': 1180673, 'urlNullable': 'https://www.kaggle.com/datasets/shashwatwork/impact-of-covid19-pandemic-on-the-global-economy', 'licenseNameNullable': 'Attribution 4.0 International (CC BY 4.0)', 'descriptionNullable': None, 'ownerNameNullable': 'Shashwat Tiwari', 'ownerRefNullable': 'shashwatwork', 'titleNullable': 'Impact of Covid-19 Pandemic on the Global Economy', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 0.9411765, 'id': 1005336, 'ref': 'shashwatwork/impact-of-covid19-pandemic-on-the-global-economy', 'subtitle': 'Emphasis on Poverty Alleviation and Economic Growth', 'hasSubtitle': True, 'creatorName': 'Shashwat Tiwari', 'hasCreatorName': True, 'creatorUrl': 'shashwatwork', 'hasCreatorUrl': True, 'totalBytes': 1180673, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/shashwatwork/impact-of-covid19-pandemic-on-the-global-economy', 'hasUrl': True, 'lastUpdated': '2020-11-29T14:16:30.137Z', 'downloadCount': 15960, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'Attribution 4.0 International (CC BY 4.0)', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Shashwat Tiwari', 'hasOwnerName': True, 'ownerRef': 'shashwatwork', 'hasOwnerRef': True, 'kernelCount': 36, 'title': 'Impact of Covid-19 Pandemic on the Global Economy', 'hasTitle': True, 'topicCount': 0, 'viewCount': 99297, 'voteCount': 223, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.9411765, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'business', 'descriptionNullable': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'fullPathNullable': 'subject > people and society > business', 'ref': 'business', 'name': 'business', 'hasName': True, 'description': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'hasDescription': True, 'fullPath': 'subject > people and society > business', 'hasFullPath': True, 'competitionCount': 24, 'datasetCount': 64041, 'scriptCount': 25252, 'totalCount': 89317}, {'nameNullable': 'covid19', 'descriptionNullable': 'COVID-19 is a disease that is caused by the SARS-CoV-2 virus. In 2020 there was a global COVID-19 pandemic.', 'fullPathNullable': 'subject > health and fitness > health > health conditions > diseases > covid19', 'ref': 'covid19', 'name': 'covid19', 'hasName': True, 'description': 'COVID-19 is a disease that is caused by the SARS-CoV-2 virus. In 2020 there was a global COVID-19 pandemic.', 'hasDescription': True, 'fullPath': 'subject > health and fitness > health > health conditions > diseases > covid19', 'hasFullPath': True, 'competitionCount': 9, 'datasetCount': 1858, 'scriptCount': 2527, 'totalCount': 4394}], 'files': [], 'versions': []}, {'subtitleNullable': 'Administration, Urban environment, Population, Territory, Economy and Business', 'creatorNameNullable': 'Xavier', 'creatorUrlNullable': 'xvivancos', 'totalBytesNullable': 1150022, 'urlNullable': 'https://www.kaggle.com/datasets/xvivancos/barcelona-data-sets', 'licenseNameNullable': 'Attribution 4.0 International (CC BY 4.0)', 'descriptionNullable': None, 'ownerNameNullable': 'Xavier', 'ownerRefNullable': 'xvivancos', 'titleNullable': 'Barcelona data sets', 'currentVersionNumberNullable': 8, 'usabilityRatingNullable': 1.0, 'id': 71509, 'ref': 'xvivancos/barcelona-data-sets', 'subtitle': 'Administration, Urban environment, Population, Territory, Economy and Business', 'hasSubtitle': True, 'creatorName': 'Xavier', 'hasCreatorName': True, 'creatorUrl': 'xvivancos', 'hasCreatorUrl': True, 'totalBytes': 1150022, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/xvivancos/barcelona-data-sets', 'hasUrl': True, 'lastUpdated': '2020-02-15T23:29:29.537Z', 'downloadCount': 18113, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'Attribution 4.0 International (CC BY 4.0)', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Xavier', 'hasOwnerName': True, 'ownerRef': 'xvivancos', 'hasOwnerRef': True, 'kernelCount': 48, 'title': 'Barcelona data sets', 'hasTitle': True, 'topicCount': 0, 'viewCount': 146375, 'voteCount': 375, 'currentVersionNumber': 8, 'hasCurrentVersionNumber': True, 'usabilityRating': 1.0, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'business', 'descriptionNullable': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'fullPathNullable': 'subject > people and society > business', 'ref': 'business', 'name': 'business', 'hasName': True, 'description': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'hasDescription': True, 'fullPath': 'subject > people and society > business', 'hasFullPath': True, 'competitionCount': 24, 'datasetCount': 64041, 'scriptCount': 25252, 'totalCount': 89317}, {'nameNullable': 'demographics', 'descriptionNullable': 'Demographics cover different aspects of life: youth, religion, housing, employment, taxes and mortality. This tag contains census data that describe various populations and communities.', 'fullPathNullable': 'subject > people and society > social science > demographics', 'ref': 'demographics', 'name': 'demographics', 'hasName': True, 'description': 'Demographics cover different aspects of life: youth, religion, housing, employment, taxes and mortality. This tag contains census data that describe various populations and communities.', 'hasDescription': True, 'fullPath': 'subject > people and society > social science > demographics', 'hasFullPath': True, 'competitionCount': 1, 'datasetCount': 834, 'scriptCount': 285, 'totalCount': 1120}, {'nameNullable': 'economics', 'descriptionNullable': 'The economics tag contains resources for analyzing the production, consumption, and transfer of wealth.', 'fullPathNullable': 'subject > people and society > social science > economics', 'ref': 'economics', 'name': 'economics', 'hasName': True, 'description': 'The economics tag contains resources for analyzing the production, consumption, and transfer of wealth.', 'hasDescription': True, 'fullPath': 'subject > people and society > social science > economics', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 2992, 'scriptCount': 673, 'totalCount': 3665}, {'nameNullable': 'internet', 'descriptionNullable': 'An interconnected network of tubes that connects the entire world together. This tag covers a broad range of tags; anything from cryptocurrency to website analytics.', 'fullPathNullable': 'subject > science and technology > internet', 'ref': 'internet', 'name': 'internet', 'hasName': True, 'description': 'An interconnected network of tubes that connects the entire world together. This tag covers a broad range of tags; anything from cryptocurrency to website analytics.', 'hasDescription': True, 'fullPath': 'subject > science and technology > internet', 'hasFullPath': True, 'competitionCount': 19, 'datasetCount': 17126, 'scriptCount': 2309, 'totalCount': 19454}, {'nameNullable': 'exploratory data analysis', 'descriptionNullable': None, 'fullPathNullable': 'technique > exploratory data analysis', 'ref': 'exploratory data analysis', 'name': 'exploratory data analysis', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'technique > exploratory data analysis', 'hasFullPath': True, 'competitionCount': 3, 'datasetCount': 3759, 'scriptCount': 29592, 'totalCount': 33354}, {'nameNullable': 'data visualization', 'descriptionNullable': 'The art of depicting data in a visual format. Using charts and graphs, it is easier to observe patterns, relationships, and outliers.', 'fullPathNullable': 'technique > data visualization', 'ref': 'data visualization', 'name': 'data visualization', 'hasName': True, 'description': 'The art of depicting data in a visual format. Using charts and graphs, it is easier to observe patterns, relationships, and outliers.', 'hasDescription': True, 'fullPath': 'technique > data visualization', 'hasFullPath': True, 'competitionCount': 7, 'datasetCount': 5336, 'scriptCount': 32893, 'totalCount': 38236}], 'files': [], 'versions': []}, {'subtitleNullable': 'Which makes and models have the highest city and highway MPG?', 'creatorNameNullable': 'Abigail Larion', 'creatorUrlNullable': 'abigaillarion', 'totalBytesNullable': 1158110, 'urlNullable': 'https://www.kaggle.com/datasets/epa/fuel-economy', 'licenseNameNullable': 'CC0: Public Domain', 'descriptionNullable': None, 'ownerNameNullable': 'US Environmental Protection Agency', 'ownerRefNullable': 'organizations/epa', 'titleNullable': 'Vehicle Fuel Economy Estimates, 1984-2017', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 0.85294116, 'id': 751, 'ref': 'epa/fuel-economy', 'subtitle': 'Which makes and models have the highest city and highway MPG?', 'hasSubtitle': True, 'creatorName': 'Abigail Larion', 'hasCreatorName': True, 'creatorUrl': 'abigaillarion', 'hasCreatorUrl': True, 'totalBytes': 1158110, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/epa/fuel-economy', 'hasUrl': True, 'lastUpdated': '2017-01-31T14:55:34.57Z', 'downloadCount': 5333, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'CC0: Public Domain', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'US Environmental Protection Agency', 'hasOwnerName': True, 'ownerRef': 'organizations/epa', 'hasOwnerRef': True, 'kernelCount': 16, 'title': 'Vehicle Fuel Economy Estimates, 1984-2017', 'hasTitle': True, 'topicCount': 0, 'viewCount': 41414, 'voteCount': 70, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.85294116, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'business', 'descriptionNullable': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'fullPathNullable': 'subject > people and society > business', 'ref': 'business', 'name': 'business', 'hasName': True, 'description': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'hasDescription': True, 'fullPath': 'subject > people and society > business', 'hasFullPath': True, 'competitionCount': 24, 'datasetCount': 64041, 'scriptCount': 25252, 'totalCount': 89317}, {'nameNullable': 'automobiles and vehicles', 'descriptionNullable': 'The automobile tag is everything about cars. Analyze insurance rates or how far you can go on one gallon of petrol.', 'fullPathNullable': 'subject > science and technology > transportation > automobiles and vehicles', 'ref': 'automobiles and vehicles', 'name': 'automobiles and vehicles', 'hasName': True, 'description': 'The automobile tag is everything about cars. Analyze insurance rates or how far you can go on one gallon of petrol.', 'hasDescription': True, 'fullPath': 'subject > science and technology > transportation > automobiles and vehicles', 'hasFullPath': True, 'competitionCount': 6, 'datasetCount': 8372, 'scriptCount': 1726, 'totalCount': 10104}], 'files': [], 'versions': []}, {'subtitleNullable': 'Data containing important indicators since liberalisation and globalisation', 'creatorNameNullable': 'Zoheb Abai', 'creatorUrlNullable': 'zohebabai', 'totalBytesNullable': 7379, 'urlNullable': 'https://www.kaggle.com/datasets/zohebabai/world-bank-data-of-indian-economy-since-1991', 'licenseNameNullable': 'World Bank Dataset Terms of Use', 'descriptionNullable': None, 'ownerNameNullable': 'Zoheb Abai', 'ownerRefNullable': 'zohebabai', 'titleNullable': 'World Bank Data of Indian Economy since 1991', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 0.88235295, 'id': 32966, 'ref': 'zohebabai/world-bank-data-of-indian-economy-since-1991', 'subtitle': 'Data containing important indicators since liberalisation and globalisation', 'hasSubtitle': True, 'creatorName': 'Zoheb Abai', 'hasCreatorName': True, 'creatorUrl': 'zohebabai', 'hasCreatorUrl': True, 'totalBytes': 7379, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/zohebabai/world-bank-data-of-indian-economy-since-1991', 'hasUrl': True, 'lastUpdated': '2018-06-23T19:34:04.643Z', 'downloadCount': 2942, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'World Bank Dataset Terms of Use', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Zoheb Abai', 'hasOwnerName': True, 'ownerRef': 'zohebabai', 'hasOwnerRef': True, 'kernelCount': 11, 'title': 'World Bank Data of Indian Economy since 1991', 'hasTitle': True, 'topicCount': 0, 'viewCount': 20265, 'voteCount': 53, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.88235295, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'india', 'descriptionNullable': "This tag will take you to the wonderful land of datasets and kernels related to India. You will find topics that range far and wide. There's education, travel, weather, and crime, too.", 'fullPathNullable': 'geography and places > asia > india', 'ref': 'india', 'name': 'india', 'hasName': True, 'description': "This tag will take you to the wonderful land of datasets and kernels related to India. You will find topics that range far and wide. There's education, travel, weather, and crime, too.", 'hasDescription': True, 'fullPath': 'geography and places > asia > india', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 1760, 'scriptCount': 828, 'totalCount': 2588}, {'nameNullable': 'banking', 'descriptionNullable': 'Banks keep the financial system interesting by failing en masse every couple of generations.', 'fullPathNullable': 'subject > people and society > business > finance > banking', 'ref': 'banking', 'name': 'banking', 'hasName': True, 'description': 'Banks keep the financial system interesting by failing en masse every couple of generations.', 'hasDescription': True, 'fullPath': 'subject > people and society > business > finance > banking', 'hasFullPath': True, 'competitionCount': 45, 'datasetCount': 3224, 'scriptCount': 1031, 'totalCount': 4300}, {'nameNullable': 'economics', 'descriptionNullable': 'The economics tag contains resources for analyzing the production, consumption, and transfer of wealth.', 'fullPathNullable': 'subject > people and society > social science > economics', 'ref': 'economics', 'name': 'economics', 'hasName': True, 'description': 'The economics tag contains resources for analyzing the production, consumption, and transfer of wealth.', 'hasDescription': True, 'fullPath': 'subject > people and society > social science > economics', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 2992, 'scriptCount': 673, 'totalCount': 3665}, {'nameNullable':

In [8]:
!kaggle datasets list -s "education"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.7 / client 1.5.16)
ref                                                                     title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
----------------------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
theworldbank/education-statistics                                       Education Statistics                                76MB  2019-05-16 20:10:10          29688        526  0.5882353
rajanand/education-in-india                                             Education in India                                 880KB  2017-08-14 17:07:50          21670        243  0.8235294
vidyapb/indian-school-education-statistics                              Indian School Education Statistics                  24KB  2020-07-23 17:26:11          13634        235  1.0
noriuk/us-education-datasets-unification-project                        U.S. Education Datasets: Unification Project       148MB  2020-04-13 17:09:38          18876        471  0.88235295
nelgiriyewithana/world-educational-data                                 World Educational Data                               9KB  2023-11-04 06:10:17          12808        250  1.0
theworldbank/world-bank-intl-education                                  World Bank: Education Data                            0B  2019-03-20 23:17:41              0        419  0.64705884
imtkaggleteam/global-education                                          Global Education                                   196KB  2023-10-26 11:54:56           1772         86  1.0
mdmahmudulhasansuzan/students-adaptability-level-in-online-education    Students Adaptability Level in Online Education      6KB  2022-04-16 04:46:28          18074        334  1.0
andrewmvd/global-education-statistics                                   Global Education Statistics                         38MB  2020-06-06 04:35:48           4185        113  0.9411765
noriuk/us-educational-finances                                          U.S. Educational Finances                           85MB  2018-08-29 23:47:18           5318        133  0.7647059
kaggle/college-scorecard                                                US Dept of Education: College Scorecard            562MB  2017-11-09 18:03:11          17976        234  0.7647059
thedevastator/uncovering-wage-disparities-in-pennsylvania-s-hi          Higher Education Wages                             223KB  2022-12-04 15:42:36           3048         66  1.0
asaniczka/wages-by-education-in-the-usa-1973-2022                       Wages by Education in the USA (1973-2022)            7KB  2024-02-17 14:14:46           4007        150  1.0
csafrit2/higher-education-students-performance-evaluation                Higher Education Students Performance Evaluation    3KB  2021-12-21 22:55:20           9093        100  1.0
gianinamariapetrascu/survey-on-students-perceptions-of-ai-in-education  ü§ñ Students' Perceptions of AI in Education           3KB  2023-03-17 12:42:35           4601        114  1.0
mpwolke/cusersmarildownloadsetudiantscsv                                Students enrolled. Higher education institutions.    7MB  2019-09-23 00:36:29           1521        104  1.0
iamsouravbanerjee/inequality-in-education-around-the-world              Inequality in Education Around the World             8KB  2023-08-16 08:46:11           1763         60  1.0
danbraswell/temporary-us-births                                         US Births üë∂ by Year, State, and Education Level     60KB  2023-05-08 23:15:33           3598         58  1.0
joebeachcapital/educational-attainment-in-english-towns                 English Education                                  128KB  2024-01-22 00:16:00            577         24  1.0
larsen0966/student-performance-data-set                                  Student Performance Data Set                       12KB  2020-03-27 19:07:23          28283        322  1.0

In [9]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [10]:
datasets = kaggle.api.datasets_list(search="education")
df1=pd.DataFrame(datasets)
pd.DataFrame(datasets)

,subtitleNullable,creatorNameNullable,creatorUrlNullable,totalBytesNullable,urlNullable,licenseNameNullable,descriptionNullable,ownerNameNullable,ownerRefNullable,titleNullable,...,topicCount,viewCount,voteCount,currentVersionNumber,hasCurrentVersionNumber,usabilityRating,hasUsabilityRating,tags,files,versions
0,From World Bank Open Data,Kaggle Team,kaggleteam,79282075.0,https://www.kaggle.com/datasets/theworldbank/e...,Unknown,None,World Bank,organizations/theworldbank,Education Statistics,...,0,278936,526,45,True,0.588235,True,"[{'nameNullable': 'global', 'descriptionNullab...",[],[]
1,District and state-wise primary & secondary sc...,Rajanand Ilangovan,rajanand,900997.0,https://www.kaggle.com/datasets/rajanand/educa...,CC BY-SA 4.0,None,Rajanand Ilangovan,rajanand,Education in India,...,0,129096,243,1,True,0.823529,True,"[{'nameNullable': 'india', 'descriptionNullabl...",[],[]
2,"Statistics for Indian Schools, includes GER, W...",Vidya Pb,vidyapb,24085.0,https://www.kaggle.com/datasets/vidyapb/indian...,"Database: Open Database, Contents: ¬© Original ...",None,Vidya Pb,vidyapb,Indian School Education Statistics,...,0,89928,235,9,True,1.000000,True,"[{'nameNullable': 'india', 'descriptionNullabl...",[],[]
3,"K-12 financial, enrollment, and achievement da...",Roy Garrard,noriuk,155201337.0,https://www.kaggle.com/datasets/noriuk/us-educ...,Other (specified in description),None,Roy Garrard,noriuk,U.S. Education Datasets: Unification Project,...,0,166905,471,5,True,0.882353,True,"[{'nameNullable': 'united states', 'descriptio...",[],[]
4,Illuminating Pathways to Knowledge,Nidula Elgiriyewithana ‚ö°,nelgiriyewithana,9455.0,https://www.kaggle.com/datasets/nelgiriyewitha...,Other (specified in description),None,Nidula Elgiriyewithana ‚ö°,nelgiriyewithana,World Educational Data,...,0,56890,250,1,True,1.000000,True,"[{'nameNullable': 'education', 'descriptionNul...",[],[]
5,World Bank: Education Data (BigQuery Dataset),Paul Mooney,paultimothymooney,NaN,https://www.kaggle.com/datasets/theworldbank/w...,CC0: Public Domain,None,World Bank,organizations/theworldbank,World Bank: Education Data,...,0,163355,419,3,True,0.647059,True,"[{'nameNullable': 'healthcare', 'descriptionNu...",[],[]
6,The world has gone through a dramatic transiti...,Mohamadreza Momeni,imtkaggleteam,201000.0,https://www.kaggle.com/datasets/imtkaggleteam/...,Other (specified in description),None,Mohamadreza Momeni,imtkaggleteam,Global Education,...,0,8406,86,1,True,1.000000,True,"[{'nameNullable': 'arts and entertainment', 'd...",[],[]
7,Effectiveness of online education,Md. Mahmudul Hasan Suzan,mdmahmudulhasansuzan,6587.0,https://www.kaggle.com/datasets/mdmahmudulhasa...,CC BY-SA 4.0,None,Md. Mahmudul Hasan Suzan,mdmahmudulhasansuzan,Students Adaptability Level in Online Education,...,0,111579,334,1,True,1.000000,True,"[{'nameNullable': 'universities and colleges',...",[],[]
8,Over 4000 internationally comparable education...,Larxel,andrewmvd,39427879.0,https://www.kaggle.com/datasets/andrewmvd/glob...,Attribution 4.0 International (CC BY 4.0),None,Larxel,andrewmvd,Global Education Statistics,...,0,44303,113,1,True,0.941176,True,"[{'nameNullable': 'education', 'descriptionNul...",[],[]
9,Revenues and expenditures for U.S. grade schoo...,Roy Garrard,noriuk,89579493.0,https://www.kaggle.com/datasets/noriuk/us-educ...,CC0: Public Domain,None,Roy Garrard,noriuk,U.S. Educational Finances,...,0,49726,133,6,True,0.764706,True,"[{'nameNullable': 'united states', 'descriptio...",[],[]
10,Raise the curtain on the true cost of higher e...,Rachael Tatman,rtatman,589617678.0,https://www.kaggle.com/datasets/kaggle/college...,CC0: Public Domain,None,Kaggle,organizations/kaggle,US Dept of Education: College Scorecard,...,0,158326,234,3,True,0.764706,True,"[{'nameNullable': 'universities and colleges',...",[],[]
11,Pennsylvania's Employee Salaries,The Devastator,thedevastator,228512.0,https://www.kaggle.com/datasets/thedevastator/...,Other (specified in description),None,The Devastator,thedevastator,Higher Education Wages,...,0,22038,66,2,True,1.000000,True,"[{'nameNullable': 'gender', 'descriptionNullab...",[],[]
12,Hourly wages by highest level of education att...,asaniczka,asaniczka,7438.0,https://www.kaggle.com/datasets/asaniczka/wage...,CC0: Public Domain,None,asaniczka,asaniczka,Wages by Education in the USA (1973-2022),...,0,16560,150,13,True,1.000000,True,"[{'nameNullable': 'employment', 'descriptionNu...",[],[]
13,Machine Learning Prediction Analysis,csafrit,csafrit2,2564.0,https://www.kaggle.com/datasets/csafrit2/highe...,Other (specified in description),None,csafrit,csafrit2,Higher Education Students Performance Evaluation,...,0,66978,100,4,True,1.000000,True,"[{'nameNullable': 'research', 'descriptionNull...",[],[]
14,Exploring the Attitudes and Perspectives of Cy...,Gianina-Maria Petra»ôcu,gianinamariapetrascu,2761.0,https://www.kaggle.com/datasets/gianinamariape...,Data files ¬© Original Authors,None,Gianina-Maria Petra»ôcu,gianinamariapetrascu,ü§ñ Students' Perceptions of AI in Education,...,0,33479,114,1,True,1.000000,True,"[{'nameNullable': 'arts and entertainment', 'd...",[],[]
15,Between 2001 - 2016. FR,Mar√≠lia Prata,mpwolke,6828026.0,https://www.kaggle.com/datasets/mpwolke/cusers...,Other (specified in description),None,Mar√≠lia Prata,mpwolke,Students enrolled. Higher education institutions.,...,0,19274,104,1,True,1.000000,True,"[{'nameNullable': 'universities and colleges',...",[],[]
16,Examining Global Disparities in Educational Op...,Sourav Banerjee,iamsouravbanerjee,7978.0,https://www.kaggle.com/datasets/iamsouravbaner...,Other (specified in description),None,Sourav Banerjee,iamsouravbanerjee,Inequality in Education Around the World,...,0,9988,60,3,True,1.000000,True,"[{'nameNullable': 'education', 'descriptionNul...",[],[]
17,"Births in the US by year, state, and education...",Random Draw,danbraswell,61286.0,https://www.kaggle.com/datasets/danbraswell/te...,CC0: Public Domain,None,Random Draw,danbraswell,"US Births üë∂ by Year, State, and Education Level",...,0,17660,58,4,True,1.000000,True,"[{'nameNullable': 'united states', 'descriptio...",[],[]
18,Educational attainment of young people in Engl...,Joakim Arvidsson,joebeachcapital,130662.0,https://www.kaggle.com/datasets/joebeachcapita...,Attribution 4.0 International (CC BY 4.0),None,Joakim Arvidsson,joebeachcapital,English Education,...,0,3634,24,1,True,1.000000,True,"[{'nameNullable': 'education', 'descriptionNul...",[],[]
19,Student achievement in secondary education of ...,Data-Science Sean,larsen0966,12353.0,https://www.kaggle.com/datasets/larsen0966/stu...,CC0: Public Domain,None,Data-Science Sean,larsen0966,Student Performance Data Set,...,0,205065,322,2,True,1.000000,True,"[{'nameNullable': 'education', 'descriptionNul...",[],[]

In [11]:
df1.to_excel("education.xlsx", sheet_name='education')

In [12]:
from google.colab import files
files.download('education.xlsx')

# –ò–∑—É—á–∏–º –¥–∞—Ç–∞—Å–µ—Ç **The Times Higher Education World University Rankings**

Download Dataset.

In [13]:
!kaggle datasets download -d r1chardson/the-world-university-rankings-2011-2023

Downloading the-world-university-rankings-2011-2023.zip to /content
  0% 0.00/1.50M [00:00<?, ?B/s]
100% 1.50M/1.50M [00:00<00:00, 129MB/s]

In [14]:
import zipfile

with zipfile.ZipFile("the-world-university-rankings-2011-2023.zip","r") as zip_ref:

    # extracting content in the zipfile
    zip_ref.extractall()

In [15]:
!ls

2011_rankings.csv  2017_rankings.csv  2023_rankings.csv
2012_rankings.csv  2018_rankings.csv  2024_rankings.csv
2013_rankings.csv  2019_rankings.csv  education.xlsx
2014_rankings.csv  2020_rankings.csv  kaggle.json
2015_rankings.csv  2021_rankings.csv  sample_data
2016_rankings.csv  2022_rankings.csv  the-world-university-rankings-2011-2023.zip

In [16]:
# reading the contents
df = pd.read_csv("2023_rankings.csv")

# printing first 6 raws of the dataframe
df.head(100)

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,...,scores_international_outlook_rank,location,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited
0,10,1,University of Oxford,96.4,10,92.3,5,99.7,1,99.0,...,28,United Kingdom,"20,965",10.6,42%,48 : 52,University of Oxford,"Accounting & Finance,General Engineering,Commu...",False,False
1,20,2,Harvard University,95.2,20,94.8,1,99.0,3,99.3,...,214,United States,"21,887",9.6,25%,50 : 50,Harvard University,"Mathematics & Statistics,Civil Engineering,Lan...",False,False
2,30,=3,University of Cambridge,94.8,30,90.9,7,99.5,2,97.0,...,34,United Kingdom,"20,185",11.3,39%,47 : 53,University of Cambridge,"Business & Management,General Engineering,Art,...",False,False
3,40,=3,Stanford University,94.8,40,94.2,2,96.7,7,99.8,...,223,United States,"16,164",7.1,24%,46 : 54,Stanford University,"Physics & Astronomy,Computer Science,Politics ...",False,False
4,50,5,Massachusetts Institute of Technology,94.2,50,90.7,8,93.6,11,99.8,...,119,United States,"11,415",8.2,33%,40 : 60,Massachusetts Institute of Technology,"Mathematics & Statistics,Languages, Literature...",False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,960,=95,Institut Polytechnique de Paris,63.6,960,58.5,68,58.8,85,64.8,...,38,France,"5,999",6.7,41%,24 : 76,Institut Polytechnique de Paris,"Other Health,Biological Sciences,Languages, Li...",False,False
96,970,=95,Nanjing University,63.6,970,58.4,69,58.2,91,74.3,...,568,China,"36,426",16.5,8%,54 : 46,Nanjing University,"Other Health,Sociology,Economics & Econometric...",False,False
97,980,98,Vanderbilt University,63.5,980,49.5,113,47.5,153,96.5,...,657,United States,"12,696",3.8,15%,55 : 45,Vanderbilt University,"Psychology,Politics & International Studies (i...",False,False
98,990,=99,City University of Hong Kong,63.4,990,47.2,130,53.0,120,79.9,...,2,Hong Kong,"9,099",12.1,62%,54 : 46,City University of Hong Kong CityU HK,"Civil Engineering,Chemistry,Architecture,Psych...",False,False
99,1000,=99,RWTH Aachen University,63.4,1000,56.8,73,64.5,64,66.1,...,404,Germany,"39,738",50.0,28%,33 : 67,RWTH Aachen University,"Civil Engineering,Economics & Econometrics,Lan...",False,False

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   rank_order                         2345 non-null   int64
 1   rank                               2345 non-null   object
 2   name                               2345 non-null   object
 3   scores_overall                     1799 non-null   object
 4   scores_overall_rank                2345 non-null   int64
 5   scores_teaching                    1799 non-null   float64
 6   scores_teaching_rank               2345 non-null   int64
 7   scores_research                    1799 non-null   float64
 8   scores_research_rank               2345 non-null   int64
 9   scores_citations                   1799 non-null   float64
 10  scores_citations_rank              2345 non-null   int64
 11  scores_industry_income             1799 non-null   float64
 12  scores_industry_income_rank        2345 non-null   int64
 13  scores_international_outlook       1799 non-null   float64
 14  scores_international_outlook_rank  2345 non-null   int64
 15  location                           2345 non-null   object
 16  stats_number_students              2345 non-null   object
 17  stats_student_staff_ratio          2344 non-null   float64
 18  stats_pc_intl_students             2345 non-null   object
 19  stats_female_male_ratio            2255 non-null   object
 20  aliases                            2345 non-null   object
 21  subjects_offered                   2339 non-null   object
 22  closed                             2345 non-null   bool
 23  unaccredited                       2345 non-null   bool
dtypes: bool(2), float64(6), int64(7), object(9)
memory usage: 407.8+ KB

In [18]:
my_df =df[['rank','name','scores_overall','scores_teaching','scores_research','location','stats_number_students']].copy()

In [19]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rank                   2345 non-null   object
 1   name                   2345 non-null   object
 2   scores_overall         1799 non-null   object
 3   scores_teaching        1799 non-null   float64
 4   scores_research        1799 non-null   float64
 5   location               2345 non-null   object
 6   stats_number_students  2345 non-null   object
dtypes: float64(2), object(5)
memory usage: 128.4+ KB

In [20]:
my_df

,rank,name,scores_overall,scores_teaching,scores_research,location,stats_number_students
0,1,University of Oxford,96.4,92.3,99.7,United Kingdom,"20,965"
1,2,Harvard University,95.2,94.8,99.0,United States,"21,887"
2,=3,University of Cambridge,94.8,90.9,99.5,United Kingdom,"20,185"
3,=3,Stanford University,94.8,94.2,96.7,United States,"16,164"
4,5,Massachusetts Institute of Technology,94.2,90.7,93.6,United States,"11,415"
...,...,...,...,...,...,...,...
2340,Reporter,York St John University,NaN,NaN,NaN,United Kingdom,"6,315"
2341,Reporter,"Yusuf Maitama Sule University, Kano",NaN,NaN,NaN,Nigeria,"12,880"
2342,Reporter,Zhytomyr Polytechnic State University,NaN,NaN,NaN,Ukraine,"3,869"
2343,Reporter,Ziauddin University,NaN,NaN,NaN,Pakistan,"4,906"
2344,Reporter,Zarqa University,NaN,NaN,NaN,Jordan,"5,768"

In [21]:
my_df.isnull().values.any()

True

In [22]:
my_df.isnull().sum()

rank                       0
name                       0
scores_overall           546
scores_teaching          546
scores_research          546
location                   0
stats_number_students      0
dtype: int64

In [23]:
df.isnull().sum().sum()

3373

In [24]:
my_df.isna().sum()/(len(df))*100

rank                      0.000000
name                      0.000000
scores_overall           23.283582
scores_teaching          23.283582
scores_research          23.283582
location                  0.000000
stats_number_students     0.000000
dtype: float64

In [25]:
my_df.isnull().sum()/(len(df))*100

rank                      0.000000
name                      0.000000
scores_overall           23.283582
scores_teaching          23.283582
scores_research          23.283582
location                  0.000000
stats_number_students     0.000000
dtype: float64

In [26]:
df2 = my_df.dropna()

In [27]:
df2

,rank,name,scores_overall,scores_teaching,scores_research,location,stats_number_students
0,1,University of Oxford,96.4,92.3,99.7,United Kingdom,"20,965"
1,2,Harvard University,95.2,94.8,99.0,United States,"21,887"
2,=3,University of Cambridge,94.8,90.9,99.5,United Kingdom,"20,185"
3,=3,Stanford University,94.8,94.2,96.7,United States,"16,164"
4,5,Massachusetts Institute of Technology,94.2,90.7,93.6,United States,"11,415"
...,...,...,...,...,...,...,...
1794,1501+,Yamaguchi University,10.4‚Äì18.3,21.3,12.3,Japan,"10,724"
1795,1501+,Yanshan University,10.4‚Äì18.3,17.2,10.9,China,"38,649"
1796,1501+,Yeditepe University,10.4‚Äì18.3,18.8,12.2,Turkey,"17,038"
1797,1501+,Yuri Gagarin State Technical University of Sar...,10.4‚Äì18.3,12.5,8.9,Russian Federation,"28,280"
1798,1501+,Zonguldak B√ºlent Ecevit University,10.4‚Äì18.3,13.2,8.2,Turkey,"28,319"

In [28]:
df2.isnull().values.any()

False

    –¢–æ–ª—å–∫–æ —Ä—Ñ

In [29]:
rslt_df = df2[df2['location'] == 'Russian Federation']

In [30]:
rslt_df

,rank,name,scores_overall,scores_teaching,scores_research,location,stats_number_students
163,=163,Lomonosov Moscow State University,56.9,81.0,72.9,Russian Federation,"32,625"
221,201‚Äì250,Moscow Institute of Physics and Technology (MIPT),51.2‚Äì54.3,55.7,46.8,Russian Federation,"6,083"
330,301‚Äì350,Peter the Great St Petersburg Polytechnic Univ...,47.0‚Äì48.7,31.1,23.7,Russian Federation,"16,375"
433,401‚Äì500,HSE University,42.1‚Äì44.9,32.5,45.3,Russian Federation,"32,102"
461,401‚Äì500,National Research Nuclear University MEPhI,42.1‚Äì44.9,45.3,41.7,Russian Federation,"5,016"
...,...,...,...,...,...,...,...
1773,1501+,Tomsk State University of Control Systems and ...,10.4‚Äì18.3,17.3,11.2,Russian Federation,"6,185"
1777,1501+,University of Tyumen,10.4‚Äì18.3,16.6,12.7,Russian Federation,"11,569"
1778,1501+,Ufa State Aviation Technical University,10.4‚Äì18.3,15.8,9.5,Russian Federation,"8,865"
1787,1501+,Voronezh State University,10.4‚Äì18.3,18.8,10.2,Russian Federation,"15,534"
1797,1501+,Yuri Gagarin State Technical University of Sar...,10.4‚Äì18.3,12.5,8.9,Russian Federation,"28,280"

In [31]:
rslt_df.reset_index(drop=True, inplace=True)

In [32]:
rslt_df

,rank,name,scores_overall,scores_teaching,scores_research,location,stats_number_students
0,=163,Lomonosov Moscow State University,56.9,81.0,72.9,Russian Federation,"32,625"
1,201‚Äì250,Moscow Institute of Physics and Technology (MIPT),51.2‚Äì54.3,55.7,46.8,Russian Federation,"6,083"
2,301‚Äì350,Peter the Great St Petersburg Polytechnic Univ...,47.0‚Äì48.7,31.1,23.7,Russian Federation,"16,375"
3,401‚Äì500,HSE University,42.1‚Äì44.9,32.5,45.3,Russian Federation,"32,102"
4,401‚Äì500,National Research Nuclear University MEPhI,42.1‚Äì44.9,45.3,41.7,Russian Federation,"5,016"
...,...,...,...,...,...,...,...
71,1501+,Tomsk State University of Control Systems and ...,10.4‚Äì18.3,17.3,11.2,Russian Federation,"6,185"
72,1501+,University of Tyumen,10.4‚Äì18.3,16.6,12.7,Russian Federation,"11,569"
73,1501+,Ufa State Aviation Technical University,10.4‚Äì18.3,15.8,9.5,Russian Federation,"8,865"
74,1501+,Voronezh State University,10.4‚Äì18.3,18.8,10.2,Russian Federation,"15,534"
75,1501+,Yuri Gagarin State Technical University of Sar...,10.4‚Äì18.3,12.5,8.9,Russian Federation,"28,280"

In [33]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rank                   76 non-null     object
 1   name                   76 non-null     object
 2   scores_overall         76 non-null     object
 3   scores_teaching        76 non-null     float64
 4   scores_research        76 non-null     float64
 5   location               76 non-null     object
 6   stats_number_students  76 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.3+ KB

In [34]:
rslt_df['scores_overall']=rslt_df['scores_overall'].str[-4:]

<ipython-input-34-08424674b615>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rslt_df['scores_overall']=rslt_df['scores_overall'].str[-4:]

In [35]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rank                   76 non-null     object
 1   name                   76 non-null     object
 2   scores_overall         76 non-null     object
 3   scores_teaching        76 non-null     float64
 4   scores_research        76 non-null     float64
 5   location               76 non-null     object
 6   stats_number_students  76 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.3+ KB

In [36]:
rslt_df

,rank,name,scores_overall,scores_teaching,scores_research,location,stats_number_students
0,=163,Lomonosov Moscow State University,56.9,81.0,72.9,Russian Federation,"32,625"
1,201‚Äì250,Moscow Institute of Physics and Technology (MIPT),54.3,55.7,46.8,Russian Federation,"6,083"
2,301‚Äì350,Peter the Great St Petersburg Polytechnic Univ...,48.7,31.1,23.7,Russian Federation,"16,375"
3,401‚Äì500,HSE University,44.9,32.5,45.3,Russian Federation,"32,102"
4,401‚Äì500,National Research Nuclear University MEPhI,44.9,45.3,41.7,Russian Federation,"5,016"
...,...,...,...,...,...,...,...
71,1501+,Tomsk State University of Control Systems and ...,18.3,17.3,11.2,Russian Federation,"6,185"
72,1501+,University of Tyumen,18.3,16.6,12.7,Russian Federation,"11,569"
73,1501+,Ufa State Aviation Technical University,18.3,15.8,9.5,Russian Federation,"8,865"
74,1501+,Voronezh State University,18.3,18.8,10.2,Russian Federation,"15,534"
75,1501+,Yuri Gagarin State Technical University of Sar...,18.3,12.5,8.9,Russian Federation,"28,280"

In [37]:
rslt_df['scores_overall'] = rslt_df['scores_overall'].astype('float64')

<ipython-input-37-b4e0b3627173>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rslt_df['scores_overall'] = rslt_df['scores_overall'].astype('float64')

In [38]:
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rank                   76 non-null     object
 1   name                   76 non-null     object
 2   scores_overall         76 non-null     float64
 3   scores_teaching        76 non-null     float64
 4   scores_research        76 non-null     float64
 5   location               76 non-null     object
 6   stats_number_students  76 non-null     object
dtypes: float64(3), object(4)
memory usage: 4.3+ KB

In [39]:
dd=rslt_df

In [40]:
dd['stats_number_students'] = [x.replace(',', '.') for x in dd['stats_number_students']]

<ipython-input-40-513b05614dc4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['stats_number_students'] = [x.replace(',', '.') for x in dd['stats_number_students']]

In [41]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rank                   76 non-null     object
 1   name                   76 non-null     object
 2   scores_overall         76 non-null     float64
 3   scores_teaching        76 non-null     float64
 4   scores_research        76 non-null     float64
 5   location               76 non-null     object
 6   stats_number_students  76 non-null     object
dtypes: float64(3), object(4)
memory usage: 4.3+ KB

In [42]:
dd['scores_overall'] = dd['scores_overall'].astype('float64')

<ipython-input-42-a58060986030>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['scores_overall'] = dd['scores_overall'].astype('float64')

In [43]:
dd.to_excel("education_ru.xlsx", sheet_name='education_ru')
from google.colab import files
files.download('education_ru.xlsx')

# –°–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–∞—è —Ä–∞–±–æ—Ç–∞


3.1. –°–ø—Ä–æ–µ–∫—Ç–∏—Ä–æ–≤–∞—Ç—å –≤–µ—Ä—Ö–Ω–µ—É—Ä–æ–≤–Ω–µ–≤—É—é –∞—Ä—Ö–∏—Ç–µ–∫—Ç—É—Ä—É –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–æ–≥–æ —Ä–µ—à–µ–Ω–∏—è –≤ `draw.io`. –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å:

- Source Layer - —Å–ª–æ–π –∏—Å—Ç–æ—á–Ω–∏–∫–æ–≤ –¥–∞–Ω–Ω—ã—Ö.
- Storage Layer - —Å–ª–æ–π —Ö—Ä–∞–Ω–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö.
- Business Layer - —Å–ª–æ–π –¥–ª—è –¥–æ—Å—Ç—É–ø–∞ –∫ –¥–∞–Ω–Ω—ã–º –±–∏–∑–Ω–µ—Å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π.

3.2. –ü–æ–ª—É—á–∏—Ç—å –∫–ª—é—á Kaggle API.

3.3. –ù–∞—Å—Ç—Ä–æ–∏—Ç—å —Å—Ä–µ–¥—É.

3.4. –ü—Ä–æ–≤–µ—Å—Ç–∏ –ø–æ–∏—Å–∫ –Ω–∞–±–æ—Ä–æ–≤ –¥–∞–Ω–Ω—ã—Ö –≤ Kaggle –ø–æ –∫–ª—é—á–µ–≤–æ–º—É —Å–ª–æ–≤—É. –í—ã–ø–æ–ª–Ω–∏—Ç—å –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –¥–∞—Ç–∞—Å–µ—Ç–∞ Kuggle, –æ–±–Ω–æ–≤–ª–µ–Ω–Ω—ã–π –≤ `2023-2024` –≥–æ–¥–∞—Ö.

3.5. –ü—Ä–æ–≤–µ—Å—Ç–∏ –∞–Ω–∞–ª–∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ –Ω–∞ –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è. –û—á–∏—Å—Ç–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –æ—Ç –Ω—É–ª–µ–≤—ã—Ö –∏ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π. –í—ã–±—Ä–∞—Ç—å —Ç–æ–ª—å–∫–æ —Ç–µ –¥–∞–Ω–Ω—ã–µ, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –≤ –¥–∞–ª—å–Ω–µ–π—â–µ–º –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å(—á–∏—Å–ª–æ–≤—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏, –±–∏–Ω–∞—Ä–Ω—ã–µ –∏ —Ç.–¥.).

3.6. –ü–æ–ª—É—á–∏—Ç—å –∫–∞—á–µ—Å—Ç–≤–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç. –í—ã–≥—Ä—É–∑–∏—Ç—å –µ–≥–æ –≤ —Ñ–æ—Ä–º–∞—Ç–µ `clear.csv`.

3.7. –†–µ–∞–ª–∏–∑–æ–≤–∞—Ç—å –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—é –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –º–µ—Ç—Ä–∏–∫ –≤ –æ—Ç–µ—á–µ—Å—Ç–≤–µ–Ω–Ω–æ–π BI-—Å–∏—Å—Ç–µ–º–µ –∏–ª–∏ –≤ –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏—Ö –ø–∞–Ω–µ–ª—è—Ö —Å –æ—Ç–∫—Ä—ã—Ç—ã–º –∏—Å—Ö–æ–¥–Ω—ã–º –∫–æ–¥–æ–º, –Ω–∞–ø—Ä–∏–º–µ—Ä `Apache Superset`.

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–æ–π —Ä–∞–±–æ—Ç—ã –ø—Ä–µ–¥—Å—Ç–∞–≤–∏—Ç—å –≤ –≤–∏–¥–µ —Ñ–∞–π–ª–∞ `–§–ò–û.ipynb`, `clear.csv`.

**–í–∞—Ä–∏–∞–Ω—Ç**.

`1-11` –ø–æ–∏—Å–∫ –≤–µ–¥–µ–º –ø–æ –∫–ª—é—á–µ–≤—ã–º —Å–ª–æ–≤–∞–º,

–≤–∞—Ä–∏–∞–Ω—Ç `12-35` - –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é –î–∞—Ç–∞—Å–µ—Ç–∞.

`–ö–ª—é—á–µ–≤—ã–µ —Å–ª–æ–≤–∞`:

1. ENTERTAINMENT.
2. TRAVEL.
3. STYLE & BEAUTY.
4. PARENTING.
5. HEALTHY LIVING.
6. FOOD & DRINK.
7. BUSINESS.
8. COMEDY.
9. SPORTS.
10. HOME & LIVING.
11. PARENTS.

`–î–ê–¢–ê–°–ï–¢`:

12. Credit Card Fraud Detection.
13. European Soccer Database.
14. Avocado Prices.
15. IBM HR Analytics Employee Attrition & Performance.
16. Medical Cost Personal Datasets.
17. Open Food Facts.
18. Machine Learning & Data Science Survey.
19. Survival Rate of Russian Companies.
20. Yandex: Geo Reviews Dataset 2023.
21. Yandex Music TOP 100 songs.
22. HeadHunter vacancies.
23. Russian Marketplace Reviews E-Commerce Dataset.
24. world economic.
25. credit card transicts.

# **–í–∞—Ä–∏–∞–Ω—Ç 14. Avocado Prices.**

In [44]:
# –ø–æ–∏—Å–∫ –Ω–∞–±–æ—Ä–æ–≤ –¥–∞–Ω–Ω—ã—Ö –≤ Kaggle –æ ""–ù–∞–∑–≤–∞–Ω–∏–µ –¥–∞—Ç–∞—Å–µ—Ç–∞"""
datasets = kaggle.api.datasets_list(search="Avocado Prices")

print(datasets)

[{'subtitleNullable': 'Historical data on avocado prices and sales volume in multiple US markets', 'creatorNameNullable': 'Justin Kiggins', 'creatorUrlNullable': 'neuromusic', 'totalBytesNullable': 643781, 'urlNullable': 'https://www.kaggle.com/datasets/neuromusic/avocado-prices', 'licenseNameNullable': 'Database: Open Database, Contents: ¬© Original Authors', 'descriptionNullable': None, 'ownerNameNullable': 'Justin Kiggins', 'ownerRefNullable': 'neuromusic', 'titleNullable': 'Avocado Prices', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 0.9705882, 'id': 30292, 'ref': 'neuromusic/avocado-prices', 'subtitle': 'Historical data on avocado prices and sales volume in multiple US markets', 'hasSubtitle': True, 'creatorName': 'Justin Kiggins', 'hasCreatorName': True, 'creatorUrl': 'neuromusic', 'hasCreatorUrl': True, 'totalBytes': 643781, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/neuromusic/avocado-prices', 'hasUrl': True, 'lastUpdated': '2018-06-06T05:28:35.433Z', 'downloadCount': 287500, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'Database: Open Database, Contents: ¬© Original Authors', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Justin Kiggins', 'hasOwnerName': True, 'ownerRef': 'neuromusic', 'hasOwnerRef': True, 'kernelCount': 446, 'title': 'Avocado Prices', 'hasTitle': True, 'topicCount': 0, 'viewCount': 1376542, 'voteCount': 3642, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.9705882, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'food', 'descriptionNullable': None, 'fullPathNullable': 'subject > health and fitness > food', 'ref': 'food', 'name': 'food', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > health and fitness > food', 'hasFullPath': True, 'competitionCount': 6, 'datasetCount': 7862, 'scriptCount': 588, 'totalCount': 8456}], 'files': [], 'versions': []}, {'subtitleNullable': 'The updated version of the avocado dataset', 'creatorNameNullable': 'Timofei Kornev', 'creatorUrlNullable': 'timmate', 'totalBytesNullable': 1184521, 'urlNullable': 'https://www.kaggle.com/datasets/timmate/avocado-prices-2020', 'licenseNameNullable': 'Database: Open Database, Contents: ¬© Original Authors', 'descriptionNullable': None, 'ownerNameNullable': 'Timofei Kornev', 'ownerRefNullable': 'timmate', 'titleNullable': 'Avocado Prices (2020)', 'currentVersionNumberNullable': 2, 'usabilityRatingNullable': 0.7058824, 'id': 815849, 'ref': 'timmate/avocado-prices-2020', 'subtitle': 'The updated version of the avocado dataset', 'hasSubtitle': True, 'creatorName': 'Timofei Kornev', 'hasCreatorName': True, 'creatorUrl': 'timmate', 'hasCreatorUrl': True, 'totalBytes': 1184521, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/timmate/avocado-prices-2020', 'hasUrl': True, 'lastUpdated': '2021-02-26T18:18:17.257Z', 'downloadCount': 9733, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'Database: Open Database, Contents: ¬© Original Authors', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Timofei Kornev', 'hasOwnerName': True, 'ownerRef': 'timmate', 'hasOwnerRef': True, 'kernelCount': 27, 'title': 'Avocado Prices (2020)', 'hasTitle': True, 'topicCount': 0, 'viewCount': 54036, 'voteCount': 94, 'currentVersionNumber': 2, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.7058824, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'time series analysis', 'descriptionNullable': None, 'fullPathNullable': 'technique > time series analysis', 'ref': 'time series analysis', 'name': 'time series analysis', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'technique > time series analysis', 'hasFullPath': True, 'competitionCount': 113, 'datasetCount': 2132, 'scriptCount': 3276, 'totalCount': 5521}, {'nameNullable': 'food', 'descriptionNullable': None, 'fullPathNullable': 'subject > health and fitness > food', 'ref': 'food', 'name': 'food', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > health and fitness > food', 'hasFullPath': True, 'competitionCount': 6, 'datasetCount': 7862, 'scriptCount': 588, 'totalCount': 8456}, {'nameNullable': 'retail and shopping', 'descriptionNullable': None, 'fullPathNullable': 'subject > people and society > people > retail and shopping', 'ref': 'retail and shopping', 'name': 'retail and shopping', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > people and society > people > retail and shopping', 'hasFullPath': True, 'competitionCount': 4, 'datasetCount': 6769, 'scriptCount': 468, 'totalCount': 7241}], 'files': [], 'versions': []}, {'subtitleNullable': 'Historical data on avocado prices and sales volume in multiple US markets', 'creatorNameNullable': 'Mathurin Ach√©', 'creatorUrlNullable': 'mathurinache', 'totalBytesNullable': 109749530, 'urlNullable': 'https://www.kaggle.com/datasets/mathurinache/avocado-augmented', 'licenseNameNullable': 'CC0: Public Domain', 'descriptionNullable': None, 'ownerNameNullable': 'Mathurin Ach√©', 'ownerRefNullable': 'mathurinache', 'titleNullable': 'Avocado Prices (Augmented)', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 1.0, 'id': 927981, 'ref': 'mathurinache/avocado-augmented', 'subtitle': 'Historical data on avocado prices and sales volume in multiple US markets', 'hasSubtitle': True, 'creatorName': 'Mathurin Ach√©', 'hasCreatorName': True, 'creatorUrl': 'mathurinache', 'hasCreatorUrl': True, 'totalBytes': 109749530, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/mathurinache/avocado-augmented', 'hasUrl': True, 'lastUpdated': '2020-10-18T19:37:25.983Z', 'downloadCount': 521, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'CC0: Public Domain', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Mathurin Ach√©', 'hasOwnerName': True, 'ownerRef': 'mathurinache', 'hasOwnerRef': True, 'kernelCount': 1, 'title': 'Avocado Prices (Augmented)', 'hasTitle': True, 'topicCount': 0, 'viewCount': 6121, 'voteCount': 20, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 1.0, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'business', 'descriptionNullable': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'fullPathNullable': 'subject > people and society > business', 'ref': 'business', 'name': 'business', 'hasName': True, 'description': 'Businesses are organizational entities that drive economic activity. Explore the inner workings of things like HR practices, product sales, and customer happiness in these competitions, kernels, and datasets.', 'hasDescription': True, 'fullPath': 'subject > people and society > business', 'hasFullPath': True, 'competitionCount': 24, 'datasetCount': 64041, 'scriptCount': 25252, 'totalCount': 89317}, {'nameNullable': 'food', 'descriptionNullable': None, 'fullPathNullable': 'subject > health and fitness > food', 'ref': 'food', 'name': 'food', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > health and fitness > food', 'hasFullPath': True, 'competitionCount': 6, 'datasetCount': 7862, 'scriptCount': 588, 'totalCount': 8456}], 'files': [], 'versions': []}, {'subtitleNullable': 'Avocado data updated till December 3, 2023', 'creatorNameNullable': 'VakhariaPujan', 'creatorUrlNullable': 'vakhariapujan', 'totalBytesNullable': 1762943, 'urlNullable': 'https://www.kaggle.com/datasets/vakhariapujan/avocado-prices-and-sales-volume-2015-2023', 'licenseNameNullable': 'CC0: Public Domain', 'descriptionNullable': None, 'ownerNameNullable': 'VakhariaPujan', 'ownerRefNullable': 'vakhariapujan', 'titleNullable': 'Avocado Prices and Sales Volume 2015-2023', 'currentVersionNumberNullable': 3, 'usabilityRatingNullable': 1.0, 'id': 4291502, 'ref': 'vakhariapujan/avocado-prices-and-sales-volume-2015-2023', 'subtitle': 'Avocado data updated till December 3, 2023', 'hasSubtitle': True, 'creatorName': 'VakhariaPujan', 'hasCreatorName': True, 'creatorUrl': 'vakhariapujan', 'hasCreatorUrl': True, 'totalBytes': 1762943, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/vakhariapujan/avocado-prices-and-sales-volume-2015-2023', 'hasUrl': True, 'lastUpdated': '2024-01-12T22:31:00.283Z', 'downloadCount': 1250, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'CC0: Public Domain', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'VakhariaPujan', 'hasOwnerName': True, 'ownerRef': 'vakhariapujan', 'hasOwnerRef': True, 'kernelCount': 5, 'title': 'Avocado Prices and Sales Volume 2015-2023', 'hasTitle': True, 'topicCount': 0, 'viewCount': 5799, 'voteCount': 31, 'currentVersionNumber': 3, 'hasCurrentVersionNumber': True, 'usabilityRating': 1.0, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'united states', 'descriptionNullable': 'The top datasets and kernels in this tag are about mass shootings, AirBnB, homelessness, and witchcraft. That about sums it up.', 'fullPathNullable': 'geography and places > north america > united states', 'ref': 'united states', 'name': 'united states', 'hasName': True, 'description': 'The top datasets and kernels in this tag are about mass shootings, AirBnB, homelessness, and witchcraft. That about sums it up.', 'hasDescription': True, 'fullPath': 'geography and places > north america > united states', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 1966, 'scriptCount': 533, 'totalCount': 2499}, {'nameNullable': 'data visualization', 'descriptionNullable': 'The art of depicting data in a visual format. Using charts and graphs, it is easier to observe patterns, relationships, and outliers.', 'fullPathNullable': 'technique > data visualization', 'ref': 'data visualization', 'name': 'data visualization', 'hasName': True, 'description': 'The art of depicting data in a visual format. Using charts and graphs, it is easier to observe patterns, relationships, and outliers.', 'hasDescription': True, 'fullPath': 'technique > data visualization', 'hasFullPath': True, 'competitionCount': 7, 'datasetCount': 5336, 'scriptCount': 32893, 'totalCount': 38236}, {'nameNullable': 'data analytics', 'descriptionNullable': None, 'fullPathNullable': 'technique > data analytics', 'ref': 'data analytics', 'name': 'data analytics', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'technique > data analytics', 'hasFullPath': True, 'competitionCount': 13, 'datasetCount': 5464, 'scriptCount': 11564, 'totalCount': 17041}, {'nameNullable': 'food', 'descriptionNullable': None, 'fullPathNullable': 'subject > health and fitness > food', 'ref': 'food', 'name': 'food', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > health and fitness > food', 'hasFullPath': True, 'competitionCount': 6, 'datasetCount': 7862, 'scriptCount': 588, 'totalCount': 8456}, {'nameNullable': 'retail and shopping', 'descriptionNullable': None, 'fullPathNullable': 'subject > people and society > people > retail and shopping', 'ref': 'retail and shopping', 'name': 'retail and shopping', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > people and society > people > retail and shopping', 'hasFullPath': True, 'competitionCount': 4, 'datasetCount': 6769, 'scriptCount': 468, 'totalCount': 7241}], 'files': [], 'versions': []}, {'subtitleNullable': 'Avocado Prices and Sales Volume in multiple US markets (2015-2020)', 'creatorNameNullable': 'Chris', 'creatorUrlNullable': 'alanluo418', 'totalBytesNullable': 942369, 'urlNullable': 'https://www.kaggle.com/datasets/alanluo418/avocado-prices-20152019', 'licenseNameNullable': 'Database: Open Database, Contents: Database Contents', 'descriptionNullable': None, 'ownerNameNullable': 'Chris', 'ownerRefNullable': 'alanluo418', 'titleNullable': 'The Price and Sales of Avocado', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 0.9705882, 'id': 476237, 'ref': 'alanluo418/avocado-prices-20152019', 'subtitle': 'Avocado Prices and Sales Volume in multiple US markets (2015-2020)', 'hasSubtitle': True, 'creatorName': 'Chris', 'hasCreatorName': True, 'creatorUrl': 'alanluo418', 'hasCreatorUrl': True, 'totalBytes': 942369, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/alanluo418/avocado-prices-20152019', 'hasUrl': True, 'lastUpdated': '2020-01-14T21:25:40.027Z', 'downloadCount': 1276, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'Database: Open Database, Contents: Database Contents', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'Chris', 'hasOwnerName': True, 'ownerRef': 'alanluo418', 'hasOwnerRef': True, 'kernelCount': 3, 'title': 'The Price and Sales of Avocado', 'hasTitle': True, 'topicCount': 0, 'viewCount': 12157, 'voteCount': 25, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.9705882, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'food', 'descriptionNullable': None, 'fullPathNullable': 'subject > health and fitness > food', 'ref': 'food', 'name': 'food', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > health and fitness > food', 'hasFullPath': True, 'competitionCount': 6, 'datasetCount': 7862, 'scriptCount': 588, 'totalCount': 8456}], 'files': [], 'versions': []}, {'subtitleNullable': 'made possible thanks to HassAvocadoBoard', 'creatorNameNullable': 'valentin joseph', 'creatorUrlNullable': 'valentinjoseph', 'totalBytesNullable': 1396583, 'urlNullable': 'https://www.kaggle.com/datasets/valentinjoseph/avocado-sales-20152021-us-centric', 'licenseNameNullable': 'CC0: Public Domain', 'descriptionNullable': None, 'ownerNameNullable': 'valentin joseph', 'ownerRefNullable': 'valentinjoseph', 'titleNullable': 'Avocado sales 2015-2021 (US centric)', 'currentVersionNumberNullable': 3, 'usabilityRatingNullable': 1.0, 'id': 1882278, 'ref': 'valentinjoseph/avocado-sales-20152021-us-centric', 'subtitle': 'made possible thanks to HassAvocadoBoard', 'hasSubtitle': True, 'creatorName': 'valentin joseph', 'hasCreatorName': True, 'creatorUrl': 'valentinjoseph', 'hasCreatorUrl': True, 'totalBytes': 1396583, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/valentinjoseph/avocado-sales-20152021-us-centric', 'hasUrl': True, 'lastUpdated': '2022-01-22T10:37:33.25Z', 'downloadCount': 690, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'CC0: Public Domain', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'valentin joseph', 'hasOwnerName': True, 'ownerRef': 'valentinjoseph', 'hasOwnerRef': True, 'kernelCount': 1, 'title': 'Avocado sales 2015-2021 (US centric)', 'hasTitle': True, 'topicCount': 0, 'viewCount': 6010, 'voteCount': 24, 'currentVersionNumber': 3, 'hasCurrentVersionNumber': True, 'usabilityRating': 1.0, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'united states', 'descriptionNullable': 'The top datasets and kernels in this tag are about mass shootings, AirBnB, homelessness, and witchcraft. That about sums it up.', 'fullPathNullable': 'geography and places > north america > united states', 'ref': 'united states', 'name': 'united states', 'hasName': True, 'description': 'The top datasets and kernels in this tag are about mass shootings, AirBnB, homelessness, and witchcraft. That about sums it up.', 'hasDescription': True, 'fullPath': 'geography and places > north america > united states', 'hasFullPath': True, 'competitionCount': 0, 'datasetCount': 1966, 'scriptCount': 533, 'totalCount': 2499}, {'nameNullable': 'categorical', 'descriptionNullable': 'Categorical data are observations that fall into discrete categories, like dog breed, dog color or whether or not a dog likes chew toys.', 'fullPathNullable': 'data type > categorical', 'ref': 'categorical', 'name': 'categorical', 'hasName': True, 'description': 'Categorical data are observations that fall into discrete categories, like dog breed, dog color or whether or not a dog likes chew toys.', 'hasDescription': True, 'fullPath': 'data type > categorical', 'hasFullPath': True, 'competitionCount': 9, 'datasetCount': 1996, 'scriptCount': 2103, 'totalCount': 4108}, {'nameNullable': 'agriculture', 'descriptionNullable': 'You could be well on your way to creating the next big precision agriculture company with the resources in this tag. At the very least, you can use Weekly Corn Prices to make more informed decisions about your purchases at the store.', 'fullPathNullable': 'subject > earth and nature > environment > agriculture', 'ref': 'agriculture', 'name': 'agriculture', 'hasName': True, 'description': 'You could be well on your way to creating the next big precision agriculture company with the resources in this tag. At the very least, you can use Weekly Corn Prices to make more informed decisions about your purchases at the store.', 'hasDescription': True, 'fullPath': 'subject > earth and nature > environment > agriculture', 'hasFullPath': True, 'competitionCount': 3, 'datasetCount': 938, 'scriptCount': 299, 'totalCount': 1240}, {'nameNullable': 'bigquery', 'descriptionNullable': None, 'fullPathNullable': 'data type > bigquery', 'ref': 'bigquery', 'name': 'bigquery', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'data type > bigquery', 'hasFullPath': True, 'competitionCount': 1, 'datasetCount': 363, 'scriptCount': 619, 'totalCount': 983}, {'nameNullable': 'food', 'descriptionNullable': None, 'fullPathNullable': 'subject > health and fitness > food', 'ref': 'food', 'name': 'food', 'hasName': True, 'description': '', 'hasDescription': False, 'fullPath': 'subject > health and fitness > food', 'hasFullPath': True, 'competitionCount': 6, 'datasetCount': 7862, 'scriptCount': 588, 'totalCount': 8456}], 'files': [], 'versions': []}, {'subtitleNullable': 'Weekly Advertised Avocado Retail Prices', 'creatorNameNullable': 'kirandss', 'creatorUrlNullable': 'kirandss', 'totalBytesNullable': 106792, 'urlNullable': 'https://www.kaggle.com/datasets/kirandss/usda-avocado-market-prices', 'licenseNameNullable': 'Unknown', 'descriptionNullable': None, 'ownerNameNullable': 'kirandss', 'ownerRefNullable': 'kirandss', 'titleNullable': 'Usda Avocado Market Prices', 'currentVersionNumberNullable': 1, 'usabilityRatingNullable': 0.7058824, 'id': 1628980, 'ref': 'kirandss/usda-avocado-market-prices', 'subtitle': 'Weekly Advertised Avocado Retail Prices', 'hasSubtitle': True, 'creatorName': 'kirandss', 'hasCreatorName': True, 'creatorUrl': 'kirandss', 'hasCreatorUrl': True, 'totalBytes': 106792, 'hasTotalBytes': True, 'url': 'https://www.kaggle.com/datasets/kirandss/usda-avocado-market-prices', 'hasUrl': True, 'lastUpdated': '2021-10-05T02:07:54.817Z', 'downloadCount': 88, 'isPrivate': False, 'isFeatured': False, 'licenseName': 'Unknown', 'hasLicenseName': True, 'description': '', 'hasDescription': False, 'ownerName': 'kirandss', 'hasOwnerName': True, 'ownerRef': 'kirandss', 'hasOwnerRef': True, 'kernelCount': 1, 'title': 'Usda Avocado Market Prices', 'hasTitle': True, 'topicCount': 0, 'viewCount': 1688, 'voteCount': 3, 'currentVersionNumber': 1, 'hasCurrentVersionNumber': True, 'usabilityRating': 0.7058824, 'hasUsabilityRating': True, 'tags': [{'nameNullable': 'united states', 'descriptionNullable': 'The top datasets and kernels in this tag are about mass shootings, AirBnB, homelessness, and witchcraft. That about sums it up.', 'fullPathNullable': 'geography and places > north america > united states', 'ref': 'united states', 'name': 'united states', 'hasName': True, 'description': 'The top datasets and kernels in this tag are about mass shootings, AirBnB, homelessness, and witchcraft. That about sums it up.', 'hasDescription': True, 'fullPath': 'geography and places > north america > united state

In [45]:
!kaggle datasets list -s "Avocado Prices"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.7 / client 1.5.16)
ref                                                               title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
----------------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
neuromusic/avocado-prices                                         Avocado Prices                                     629KB  2018-06-06 05:28:35         287500       3642  0.9705882
timmate/avocado-prices-2020                                       Avocado Prices (2020)                                1MB  2021-02-26 18:18:17           9733         94  0.7058824
mathurinache/avocado-augmented                                    Avocado Prices (Augmented)                         105MB  2020-10-18 19:37:25            521         20  1.0
vakhariapujan/avocado-prices-and-sales-volume-2015-2023           Avocado Prices and Sales Volume 2015-2023            2MB  2024-01-12 22:31:00           1250         31  1.0
alanluo418/avocado-prices-20152019                                The Price and Sales of Avocado                     920KB  2020-01-14 21:25:40           1276         25  0.9705882
valentinjoseph/avocado-sales-20152021-us-centric                  Avocado sales 2015-2021 (US centric)                 1MB  2022-01-22 10:37:33            690         24  1.0
kirandss/usda-avocado-market-prices                               Usda Avocado Market Prices                         104KB  2021-10-05 02:07:54             88          3  0.7058824
sayan11/avocado-prices                                            Avocado Prices                                     629KB  2018-08-11 19:04:12            197          3  0.23529412
adepvenugopal/avocado-prices                                      Avocado Prices                                     635KB  2021-04-30 09:04:26             37          1  0.29411766
nicolacheccacci/avocado-prices                                    avocado prices                                     629KB  2020-11-02 13:09:26             57          2  0.23529412
minjungsung/avocado-prices                                        Avocado Prices                                     629KB  2024-02-08 09:59:31              0          1  0.3529412
nguynhngtun/avocadoprices                                         avocado-prices                                     629KB  2021-04-01 13:36:11             20          1  0.23529412
victoralando/avocado-prices-dataset                               Avocado Prices Dataset                             629KB  2023-10-30 12:42:55              4          1  0.3529412
nahhii/pricesales-of-avocado-in-newyork-year20162019              Price&Sales of Avocado in New-York year2016-2019     2KB  2020-04-27 03:09:19            137          2  0.5294118
oussamaamdouni/example-of-dataset-downloaded-for-avocado-prices2  Example of Dataset downloaded for Avocado prices2  629KB  2023-08-09 09:02:14              9          0  0.64705884
chnhngmav/da-avocado-pj                                           DA_Avocado_PJ                                       49KB  2023-05-29 02:30:46             15          0  0.5294118
navleenbhatia/avocado-dataset                                     Avocado Dataset                                    623KB  2023-06-13 15:23:44             43          0  0.3529412
muhammadaamirshaikh/avocado-prices-data-set                       AVOCADO_PRICES DATA SET                            623KB  2024-02-28 12:21:13              4          1  0.29411766
iagirr/aguacate                                                   Aguacate                                            14KB  2020-06-23 15:13:40             22          0  0.125
veronikanikaaa/avocado-prices                                     avocado_prices                                     629KB  2022-09-04 07:16:15              5          0  0.1764706

In [46]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [47]:
datasets = kaggle.api.datasets_list(search="Avocado Prices")
df1=pd.DataFrame(datasets)
pd.DataFrame(datasets)

,subtitleNullable,creatorNameNullable,creatorUrlNullable,totalBytesNullable,urlNullable,licenseNameNullable,descriptionNullable,ownerNameNullable,ownerRefNullable,titleNullable,...,topicCount,viewCount,voteCount,currentVersionNumber,hasCurrentVersionNumber,usabilityRating,hasUsabilityRating,tags,files,versions
0,Historical data on avocado prices and sales vo...,Justin Kiggins,neuromusic,643781,https://www.kaggle.com/datasets/neuromusic/avo...,"Database: Open Database, Contents: ¬© Original ...",None,Justin Kiggins,neuromusic,Avocado Prices,...,0,1376542,3642,1,True,0.970588,True,"[{'nameNullable': 'food', 'descriptionNullable...",[],[]
1,The updated version of the avocado dataset,Timofei Kornev,timmate,1184521,https://www.kaggle.com/datasets/timmate/avocad...,"Database: Open Database, Contents: ¬© Original ...",None,Timofei Kornev,timmate,Avocado Prices (2020),...,0,54036,94,2,True,0.705882,True,"[{'nameNullable': 'time series analysis', 'des...",[],[]
2,Historical data on avocado prices and sales vo...,Mathurin Ach√©,mathurinache,109749530,https://www.kaggle.com/datasets/mathurinache/a...,CC0: Public Domain,None,Mathurin Ach√©,mathurinache,Avocado Prices (Augmented),...,0,6121,20,1,True,1.000000,True,"[{'nameNullable': 'business', 'descriptionNull...",[],[]
3,"Avocado data updated till December 3, 2023",VakhariaPujan,vakhariapujan,1762943,https://www.kaggle.com/datasets/vakhariapujan/...,CC0: Public Domain,None,VakhariaPujan,vakhariapujan,Avocado Prices and Sales Volume 2015-2023,...,0,5799,31,3,True,1.000000,True,"[{'nameNullable': 'united states', 'descriptio...",[],[]
4,Avocado Prices and Sales Volume in multiple US...,Chris,alanluo418,942369,https://www.kaggle.com/datasets/alanluo418/avo...,"Database: Open Database, Contents: Database Co...",None,Chris,alanluo418,The Price and Sales of Avocado,...,0,12157,25,1,True,0.970588,True,"[{'nameNullable': 'food', 'descriptionNullable...",[],[]
5,made possible thanks to HassAvocadoBoard,valentin joseph,valentinjoseph,1396583,https://www.kaggle.com/datasets/valentinjoseph...,CC0: Public Domain,None,valentin joseph,valentinjoseph,Avocado sales 2015-2021 (US centric),...,0,6010,24,3,True,1.000000,True,"[{'nameNullable': 'united states', 'descriptio...",[],[]
6,Weekly Advertised Avocado Retail Prices,kirandss,kirandss,106792,https://www.kaggle.com/datasets/kirandss/usda-...,Unknown,None,kirandss,kirandss,Usda Avocado Market Prices,...,0,1688,3,1,True,0.705882,True,"[{'nameNullable': 'united states', 'descriptio...",[],[]
7,,Sayan,sayan11,643781,https://www.kaggle.com/datasets/sayan11/avocad...,Unknown,None,Sayan,sayan11,Avocado Prices,...,0,2827,3,1,True,0.235294,True,"[{'nameNullable': 'food', 'descriptionNullable...",[],[]
8,,Venugopal Adep,adepvenugopal,650203,https://www.kaggle.com/datasets/adepvenugopal/...,Unknown,None,Venugopal Adep,adepvenugopal,Avocado Prices,...,0,1394,1,1,True,0.294118,True,"[{'nameNullable': 'food', 'descriptionNullable...",[],[]
9,,Nicola Checcacci,nicolacheccacci,643781,https://www.kaggle.com/datasets/nicolacheccacc...,Unknown,None,Nicola Checcacci,nicolacheccacci,avocado prices,...,0,1228,2,1,True,0.235294,True,"[{'nameNullable': 'food', 'descriptionNullable...",[],[]
10,,MinJung Sung,minjungsung,643781,https://www.kaggle.com/datasets/minjungsung/av...,MIT,None,MinJung Sung,minjungsung,Avocado Prices,...,0,7,1,1,True,0.352941,True,"[{'nameNullable': 'food', 'descriptionNullable...",[],[]
11,,Nguy·ªÖn H∆∞ng Tu√¢n,nguynhngtun,643781,https://www.kaggle.com/datasets/nguynhngtun/av...,Unknown,None,Nguy·ªÖn H∆∞ng Tu√¢n,nguynhngtun,avocado-prices,...,0,801,1,1,True,0.235294,True,"[{'nameNullable': 'food', 'descriptionNullable...",[],[]
12,,Victor Alando,victoralando,643781,https://www.kaggle.com/datasets/victoralando/a...,Apache 2.0,None,Victor Alando,victoralando,Avocado Prices Dataset,...,0,29,1,1,True,0.352941,True,"[{'nameNullable': 'food', 'descriptionNullable...",[],[]
13,The database for Justin (https://www.kaggle.co...,I love avocado,nahhii,2521,https://www.kaggle.com/datasets/nahhii/pricesa...,Unknown,None,I love avocado,nahhii,Price&Sales of Avocado in New-York year2016-2019,...,0,1536,2,1,True,0.529412,True,"[{'nameNullable': 'arts and entertainment', 'd...",[],[]
14,Example of CSV Table of Downloaded data regard...,Oussama Amdouni,oussamaamdouni,643781,https://www.kaggle.com/datasets/oussamaamdouni...,Other (specified in description),None,Oussama Amdouni,oussamaamdouni,Example of Dataset downloaded for Avocado prices2,...,0,38,0,1,True,0.647059,True,"[{'nameNullable': 'united states', 'descriptio...",[],[]
15,This is a personal data analysis project based...,Ch·∫•nH∆∞ngMav,chnhngmav,50160,https://www.kaggle.com/datasets/chnhngmav/da-a...,Unknown,None,Ch·∫•nH∆∞ngMav,chnhngmav,DA_Avocado_PJ,...,0,184,0,1,True,0.529412,True,"[{'nameNullable': 'business', 'descriptionNull...",[],[]
16,,Navleen Bhatia,navleenbhatia,638430,https://www.kaggle.com/datasets/navleenbhatia/...,Unknown,None,Navleen Bhatia,navleenbhatia,Avocado Dataset,...,0,241,0,1,True,0.352941,True,[],[],[]
17,,Mohd Aamir shaikh,muhammadaamirshaikh,637740,https://www.kaggle.com/datasets/muhammadaamirs...,Apache 2.0,None,Mohd Aamir shaikh,muhammadaamirshaikh,AVOCADO_PRICES DATA SET,...,0,10,1,1,True,0.294118,True,[],[],[]
18,,Iago S√°nchez V√°zquez,iagirr,14473,https://www.kaggle.com/datasets/iagirr/aguacate,Unknown,None,Iago S√°nchez V√°zquez,iagirr,Aguacate,...,0,1475,0,1,True,0.125000,True,[],[],[]
19,,Vira Spasivska,veronikanikaaa,643781,https://www.kaggle.com/datasets/veronikanikaaa...,Unknown,None,Vira Spasivska,veronikanikaaa,avocado_prices,...,0,35,0,1,True,0.176471,True,[],[],[]

In [48]:
df1.to_excel("Avocado Prices.xlsx", sheet_name='Avocado Prices')

In [49]:
from google.colab import files
files.download('Avocado Prices.xlsx')

# –ò–∑—É—á–∏–º –¥–∞—Ç–∞—Å–µ—Ç **Avocado Prices**

Download Dataset.

In [50]:
!kaggle datasets download -d neuromusic/avocado-prices

Downloading avocado-prices.zip to /content
  0% 0.00/629k [00:00<?, ?B/s]
100% 629k/629k [00:00<00:00, 92.7MB/s]

In [51]:
import zipfile

with zipfile.ZipFile("avocado-prices.zip","r") as zip_ref:

    # extracting content in the zipfile
    zip_ref.extractall()

In [52]:
!ls

 2011_rankings.csv   2019_rankings.csv	    avocado-prices.zip
 2012_rankings.csv   2020_rankings.csv	    education_ru.xlsx
 2013_rankings.csv   2021_rankings.csv	    education.xlsx
 2014_rankings.csv   2022_rankings.csv	    kaggle.json
 2015_rankings.csv   2023_rankings.csv	    sample_data
 2016_rankings.csv   2024_rankings.csv	    the-world-university-rankings-2011-2023.zip
 2017_rankings.csv   avocado.csv
 2018_rankings.csv  'Avocado Prices.xlsx'

In [53]:
df = pd.read_csv("avocado.csv")

df.head(100)

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,43,2015-03-01,0.99,512532.44,441544.00,21183.70,347.78,49456.96,32180.90,17273.38,2.68,conventional,2015,Atlanta
96,44,2015-02-22,1.10,431308.56,369316.29,18324.76,237.47,43430.04,33423.74,10006.30,0.00,conventional,2015,Atlanta
97,45,2015-02-15,1.06,427391.28,364446.77,17420.41,638.18,44885.92,26727.66,18158.26,0.00,conventional,2015,Atlanta
98,46,2015-02-08,1.03,433883.91,377256.38,17162.50,524.85,38940.18,18044.41,20895.77,0.00,conventional,2015,Atlanta
99,47,2015-02-01,0.96,636771.37,553198.56,31583.38,294.94,51694.49,10553.73,41140.76,0.00,conventional,2015,Atlanta

In [63]:
df = df.rename(columns={'Unnamed: 0': 'Id', 'Total Volume': 'Total number sold', '4046': 'Total Avocado Hass sold', '4225': 'Total Avocado Fuerte sold', '4770': 'Total Avocado Lamb Hass sold'})
df.head(100)

,Id,Date,AveragePrice,Total number of avocado sold,Total Avocado Hass sold,Total Avocado Fuerte sold,Total Avocado Lamb Hass sold,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,43,2015-03-01,0.99,512532.44,441544.00,21183.70,347.78,49456.96,32180.90,17273.38,2.68,conventional,2015,Atlanta
96,44,2015-02-22,1.10,431308.56,369316.29,18324.76,237.47,43430.04,33423.74,10006.30,0.00,conventional,2015,Atlanta
97,45,2015-02-15,1.06,427391.28,364446.77,17420.41,638.18,44885.92,26727.66,18158.26,0.00,conventional,2015,Atlanta
98,46,2015-02-08,1.03,433883.91,377256.38,17162.50,524.85,38940.18,18044.41,20895.77,0.00,conventional,2015,Atlanta
99,47,2015-02-01,0.96,636771.37,553198.56,31583.38,294.94,51694.49,10553.73,41140.76,0.00,conventional,2015,Atlanta

In [64]:
my_df =df[['Id','Date','AveragePrice','Total number of avocado sold','Total Avocado Hass sold','Total Avocado Fuerte sold','Total Avocado Lamb Hass sold','type','year','region']].copy()

In [65]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Id                            18249 non-null  int64
 1   Date                          18249 non-null  object
 2   AveragePrice                  18249 non-null  float64
 3   Total number of avocado sold  18249 non-null  float64
 4   Total Avocado Hass sold       18249 non-null  float64
 5   Total Avocado Fuerte sold     18249 non-null  float64
 6   Total Avocado Lamb Hass sold  18249 non-null  float64
 7   type                          18249 non-null  object
 8   year                          18249 non-null  int64
 9   region                        18249 non-null  object
dtypes: float64(5), int64(2), object(3)
memory usage: 1.4+ MB

In [66]:
my_df.isnull().sum()

Id                              0
Date                            0
AveragePrice                    0
Total number of avocado sold    0
Total Avocado Hass sold         0
Total Avocado Fuerte sold       0
Total Avocado Lamb Hass sold    0
type                            0
year                            0
region                          0
dtype: int64

In [67]:
my_df.isnull().values.any()

False

In [68]:
my_df.isnull().sum().sum()

0

In [69]:
my_df.isna().sum()/(len(df))*100

Id                              0.0
Date                            0.0
AveragePrice                    0.0
Total number of avocado sold    0.0
Total Avocado Hass sold         0.0
Total Avocado Fuerte sold       0.0
Total Avocado Lamb Hass sold    0.0
type                            0.0
year                            0.0
region                          0.0
dtype: float64

In [70]:
my_df.isnull().sum()/(len(df))*100

Id                              0.0
Date                            0.0
AveragePrice                    0.0
Total number of avocado sold    0.0
Total Avocado Hass sold         0.0
Total Avocado Fuerte sold       0.0
Total Avocado Lamb Hass sold    0.0
type                            0.0
year                            0.0
region                          0.0
dtype: float64

In [71]:
my_df.to_csv("clear.csv")
from google.colab import files
files.download('clear.csv')